data/
.RData
.Rhistory
trained
**/__pycache__/
**/.DS_Store
build/
logs/
results
slurm*.out
**.csv
**/*.zip**/*.plk
**/*.pkl
img
**/*.json
**/*.zip
**/u.*
**/README
**/u1.*
**/u2.*
**/u3.*
**/u4.*
**/u5.*
**/ua.*
**/ub.*
**/allbut.pl
**/mku.sh
