data/
.RData
.Rhistory
trained
**/__pycache__/
**/.DS_Store
build/
results
slurm*.out
**.csv
**/*.zip**/*.plk
**/*.pkl
img
**/*.json
**/*.zip
**/u.*
**/README
**/u1.*
**/u2.*
**/u3.*
**/u4.*
**/u5.*
**/ua.*
**/ub.*
**/allbut.pl
**/mku.sh
stan_simulation/.fit_models2_dxd.py.swp
stan_simulation/uncertainty_word_embedd.code-workspace
**/*.zip
**/*.zip
**.pdf
**/u.*
real_data/movielens/ml-100k/
real_data/movielens/*.json
logs/*.log